
<!--
  ~ Copyright © 2016 - 2024 Enterprise Engineering Lab /
  ~ University of Madeira /Regional Agency for the Development of Research, Technology and Innovation - ARDITI
  -->

<div class="modal-header">
    <h4 class="modal-title">{{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.TITLE' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.LABEL' | translate }}</label>
                <ng-select [items]="biKnowageApiData"
                           placeholder="{{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.LABEL-PLACEHOLDER' | translate }}"
                           bindLabel="label"
                           bindValue="label"
                           [(ngModel)]="biKnowageElement.label"
                           (change)="onLabelChange(biKnowageElement.label)"
                    required>
                </ng-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="name">{{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.NAME' | translate }}</label>
                <input class="form-control" id="name" [(ngModel)]="biKnowageElement.name" type="text" placeholder="{{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.NAME-PLACEHOLDER' | translate }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="description">{{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.DESCRIPTION' | translate }}</label>
                <input class="form-control" id="description" [(ngModel)]="biKnowageElement.description" type="text" placeholder="{{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.DESCRIPTION-PLACEHOLDER' | translate }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="type">{{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.TYPE' | translate }}</label>
                <input class="form-control" id="type" [(ngModel)]="biKnowageElement.type" type="text" placeholder="{{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.TYPE-PLACEHOLDER' | translate }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="role">{{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.PROFILE' | translate }}</label>
                <input class="form-control" id="role" [(ngModel)]="biKnowageElement.role" type="text" placeholder="{{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.PROFILE-PLACEHOLDER' | translate }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="dataset_label">{{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.DATASET-LABEL' | translate }}</label>
                <input class="form-control" id="dataset_label" [(ngModel)]="biKnowageElement.dataset_label" type="text" placeholder="{{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.DATASET-LABEL-PLACEHOLDER' | translate }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <form>
                    <div class="form-group">
                        <fieldset class="form-group">
                            <label>{{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.PREVIEW-IMAGE' | translate }}</label>
                            {{imageError}}
                            <div class="custom-file fileInputProfileWrap">
                                <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                                <div class="img-space">
                                    <img [src]="biKnowageElement.preview" *ngIf="biKnowageElement.preview?.length || isImageSaved"/>
                                    <ng-container *ngIf="!biKnowageElement.preview?.length && !isImageSaved; then elseTemplate;"></ng-container>
                                    <ng-template #elseTemplate>
                                        <img src="../../../../assets/img/no_image_item.png" class="img-responsive">
                                    </ng-template>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved || biKnowageElement.preview?.length">{{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.REMOVE-IMAGE' | translate }}</a>
                </form>
            </div>
        </div>
    </div>
    <div class="form-check">
        <label for="display_toolbar">
            <input type="checkbox" id="display_toolbar" [(ngModel)]="biKnowageElement.display_toolbar" /> {{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.DISPLAY-TOOLBAR' | translate }}
        </label>
    </div>
    <div class="form-check">
        <label for="display_sliders">
            <input type="checkbox" id="display_sliders" [(ngModel)]="biKnowageElement.display_sliders" /> {{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.DISPLAY-SLIDERS' | translate }}
        </label>
    </div>
    <div class="form-check">
        <label for="reset_parameters">
            <input type="checkbox" id="reset_parameters" [(ngModel)]="biKnowageElement.reset_parameters" /> {{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.RESET-PARAMETERS' | translate }}
        </label>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" [disabled]="cantSaveKnowageElement()" (click)="saveData()">{{ 'BI-MANAGEMENT.BI-KNOWAGE.MODAL.SAVE' | translate }}</button>
</div>
