<!--
  ~ Copyright © 2016 - 2024 Enterprise Engineering Lab /
  ~ University of Madeira /Regional Agency for the Development of Research, Technology and Innovation - ARDITI
  -->

<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area mr-1"></i>
                {{ 'BI-MANAGEMENT.BI-WIDGETS.CHARTS.BI-ELEMENTS' | translate }}
            </div>
            <div class="card-body">
                <div echarts [options]="chartOption" class="demo-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                {{ 'BI-MANAGEMENT.BI-WIDGETS.CHARTS.KNOWAGE-ELEMENTS' | translate }}
            </div>
            <div class="card-body">
                <div echarts [options]="chartOption" class="demo-chart"></div>
            </div>
        </div>
    </div>
</div>

<div echarts [options]="options" class="demo-chart"></div>
