<!--
  ~ Copyright © 2016 - 2024  Enterprise Engineering Lab /
  ~ University of Madeira /Regional Agency for the Development of Research, Technology and Innovation - ARDITI
  -->

<div class="modal-header">
    <h4 class="modal-title">{{templateHeader}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">X</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <span *ngIf="templateType === 'modal'" [innerHTML]="templateText"></span>
                <span *ngIf="templateType === 'doc'" style="text-align: center;margin-top: 0; margin-bottom: 0">
              <object [data]="getPdfLink()" type="application/pdf" width="100%" height="592px;"> </object>
          </span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="passBack()">{{templateButton}}</button>
</div>
