.dashboard-toast-blockly-custom {
  background-image: url('https://www.iconfinder.com/data/icons/aami-web-internet/64/aami3-99-2-512.png');
}

.dashboard-toast-blockly-custom-ff4040 {
  background-color: #ff4040;
}

.dashboard-toast-blockly-custom-ff66b3 {
  background-color: #ff66b3;
}

.dashboard-toast-blockly-custom-ff8080 {
  background-color: #ff8080;
}

.dashboard-toast-blockly-custom-6600cc {
  background-color: #6600cc;
}

.dashboard-toast-blockly-custom-8080ff {
  background-color: #8080ff;
}

.dashboard-toast-blockly-custom-fd9d47 {
  background-color: #fd9d47;
}

.dashboard-toast-blockly-custom-000099 {
  background-color: #000099;
}

.dashboard-toast-blockly-custom-420420 {
  background-color: #420420;
}

.dashboard-toast-blockly-custom-696969 {
  background-color: #696969;
}


