<!--
  ~ Copyright © 2016 - 2024 Enterprise Engineering Lab /
  ~ University of Madeira /Regional Agency for the Development of Research, Technology and Innovation - ARDITI
  -->

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="/biManagement">{{ 'BI-MANAGEMENT.BI-DASHBOARD.CONTROL-PANEL' | translate }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/biManagement/biElement">{{ 'BI-MANAGEMENT.BI-DASHBOARD.BI-ELEMENTS' | translate }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/biManagement/biElementCollection">{{ 'BI-MANAGEMENT.BI-DASHBOARD.COLLECTION' | translate }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/biManagement/biKnowage">{{ 'BI-MANAGEMENT.BI-DASHBOARD.KNOWAGE-ELEMENTS' | translate }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="/biManagement/biEngines">{{ 'BI-MANAGEMENT.BI-DASHBOARD.BI-TOOLS' | translate }}</a>
    </li>
</ul>

<div>
    <h3 class="mb-3 border-bottom p-3">{{biEngine.name}} <span class="badge badge-secondary">{{biEngine.biElements?.length}}</span></h3>
    <div class="row">
        <div class="col-md-4 bielement-list" *ngFor="let biEngineElement of biEngine.biElements">
            <div class="card mb-4 shadow-sm">
                <img [src]="biEngineElement.preview" alt="{{ biEngineElement.name }}" class="img-fluid" style="display: block;margin-left: auto;margin-right: auto; width: 100%; height: 160px;"/>
                <div class="card-body">
                    <h4><a routerLink="/biManagement/biElementDetails/{{ biEngineElement.id }}">{{ biEngineElement.name }}</a></h4>
                    <p class="card-text">{{ biEngineElement.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button class="btn btn-primary" routerLink="/biManagement/biElementDetails/{{ biEngineElement.id }}">
                                <i class="fa fa-eye"></i>{{ 'BI-MANAGEMENT.BI-ENGINE.BI-ELEMENTS.DETAILS' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
