<!--
  ~ Copyright © 2016 - 2024 Enterprise Engineering Lab /
  ~ University of Madeira /Regional Agency for the Development of Research, Technology and Innovation - ARDITI
  -->

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">{{ biElement.name }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <iframe [src]="biElement.embed" style="border:none; height:75vh; width:100%;"></iframe>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ 'BI-MANAGEMENT.BI-ELEMENT.DETAILS.CLOSE' | translate }}</button>
</div>
