<!--
  ~ Copyright © 2016 - 2024  Enterprise Engineering Lab /
  ~ University of Madeira /Regional Agency for the Development of Research, Technology and Innovation - ARDITI
  -->

<div class="modal-header">
    <h4 *ngIf="!processDetail.created_at" class="modal-title">{{ 'PROCESS-DETAILS-MODAL.CREATE.TITLE' | translate }}</h4>
    <h4 *ngIf="processDetail.created_at" class="modal-title">{{ 'PROCESS-DETAILS-MODAL.UPDATE.TITLE' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="process_type">{{ 'PROCESS-DETAILS-MODAL.SELECT-PROCESS.TITLE' | translate }}</label>
                <ng-select id="process_type"
                        [disabled]="processDetail.created_at"
                        [items]="processTypes"
                        placeholder = "{{ 'PROCESS-DETAILS-MODAL.SELECT-PROCESS.PLACEHOLDER' | translate }}"
                        bindLabel="process_type_name"
                        bindValue="process_type_id"
                        (change)="getPropertiesProcessTypeDoesntHave()"
                        [(ngModel)]="processDetail.process_type_id">
                </ng-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="property">{{ 'PROCESS-DETAILS-MODAL.SELECT-PROPERTY.TITLE' | translate }}</label>
                <ng-select id="property"
                        [disabled] = "!processDetail.process_type_id"
                        [items]="propertiesProcessTypeDoesntHave"
                        placeholder= "{{ 'PROCESS-DETAILS-MODAL.SELECT-PROPERTY.PLACEHOLDER' | translate }}"
                        bindLabel="property_name"
                        bindValue="property_id"
                        [(ngModel)]="processDetail.property_id">
                </ng-select>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="saveData()" [disabled]="!(processDetail.process_type_id && processDetail.property_id)">
      {{ 'PROCESS-DETAILS-MODAL.BUTTON' | translate }}
    </button>
</div>
