<!--
  ~ Copyright © 2016 - 2024  Enterprise Engineering Lab /
  ~ University of Madeira /Regional Agency for the Development of Research, Technology and Innovation - ARDITI
  -->

<div class="modal-header">
    <h4 *ngIf="!entityType.id" class="modal-title">{{ 'ENTITY-TYPES-MODAL.CREATE.TITLE' | translate }}</h4>
    <h4 *ngIf="entityType.id" class="modal-title">{{ 'ENTITY-TYPES-MODAL.UPDATE.TITLE' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="name">{{ 'ENTITY-TYPES-MODAL.NAME-FIELD.TITLE' | translate }}</label>
                <input class="form-control" id="name" [(ngModel)]="entityType.name" type="text"
                       placeholder="{{ 'ENTITY-TYPES-MODAL.NAME-FIELD.PLACEHOLDER' | translate }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_name">{{ 'ENTITY-TYPES-MODAL.ID-NAME-FIELD.TITLE' | translate }}
                    <small><i>{{ 'PARAMETERIZATION.OPTIONAL-FIELD' | translate }}</i></small></label>
                <input class="form-control" id="id_name" [(ngModel)]="entityType.id_name" type="text"
                       placeholder="{{ 'ENTITY-TYPES-MODAL.ID-NAME-FIELD.PLACEHOLDER' | translate }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="state">{{ 'ENTITY-TYPES-MODAL.SELECT-STATE.TITLE' | translate }}</label>
                <ng-select id ="state"
                           [items]="entityTypeStates"
                           placeholder="{{ 'ENTITY-TYPES-MODAL.SELECT-STATE.PLACEHOLDER' | translate }}"
                           bindLabel="name"
                           bindValue="id"
                           [(ngModel)]="entityType.state">
                </ng-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="transactionType">{{ 'ENTITY-TYPES-MODAL.SELECT-TRANSACTION-TYPE.TITLE' | translate }}</label>
                <ng-select id ="transactionType"
                           [items]="transactionTypes"
                           placeholder="{{ 'ENTITY-TYPES-MODAL.SELECT-TRANSACTION-TYPE.PLACEHOLDER' | translate }}"
                           bindLabel="t_name"
                           bindValue="id"
                           [(ngModel)]="entityType.transaction_type_id">
                </ng-select>
            </div>
        </div>
    </div>
    <div *ngIf="!entityType.user_details" class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input [disabled]="entityType.id || entityType.external" type="checkbox" class="custom-control-input" id="hasMany" [(ngModel)]="entityType.has_many">
                    <label class="custom-control-label" for="hasMany">
                        {{ 'ENTITY-TYPES-MODAL.CHECKBOX-HAS-MANY' | translate }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!entityType.user_details" class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input [disabled]="entityType.id || entityType.external" type="checkbox" class="custom-control-input" id="autoGenerated" [(ngModel)]="entityType.auto_generated">
                    <label class="custom-control-label" for="autoGenerated">
                        {{ 'ENTITY-TYPES-MODAL.CHECKBOX-AUTO-GENERATED' | translate }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!entityType.user_details" class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input [disabled]="entityType.id || entityType.has_many || entityType.auto_generated" type="checkbox" class="custom-control-input" id="external" [(ngModel)]="entityType.external">
                    <label class="custom-control-label" for="external">
                        {{ 'ENTITY-TYPES-MODAL.CHECKBOX-EXTERNAL' | translate }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="userDetails" [(ngModel)]="entityType.user_details"
                           (change)="changeUserDetailsEntType()">
                    <label class="custom-control-label" for="userDetails">
                        {{ 'ENTITY-TYPES-MODAL.CHECKBOX-USER-DETAILS' | translate }}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="saveData()" [disabled]="disableSaveButton()">{{ 'ENTITY-TYPES-MODAL.BUTTON' | translate }}</button>
</div>
