<!--
  ~ Copyright © 2016 - 2024  Enterprise Engineering Lab /
  ~ University of Madeira /Regional Agency for the Development of Research, Technology and Innovation - ARDITI
  -->

<div class="modal-header">
    <h4 *ngIf="!role.id" class="modal-title">{{ 'ROLES-MODAL.CREATE.TITLE' | translate }}</h4>
    <h4 *ngIf="role.id" class="modal-title">{{ 'ROLES-MODAL.UPDATE.TITLE' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="name">{{ 'ROLES-MODAL.NAME-FIELD.TITLE' | translate }}</label>
                <input class="form-control" id="name" [(ngModel)]="role.name" type="text"
                       placeholder="{{ 'ROLES-MODAL.NAME-FIELD.PLACEHOLDER' | translate }}">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="saveData()" [disabled]="!(role.name)">
        {{ 'ROLES-MODAL.BUTTON' | translate }}</button>
</div>
